<template>
  <div class="assistant_selector">
    <v-select
      v-model="assistants"
      :items="options"
      prepend-icon="group"
      :rules="[v => !!v || 'El número de asistentes es obligatorio']"
      label="Asistentes"
      required
    ></v-select>
  </div>
</template>

<script>
export default {
  name: 'AssistantSelector',
  props: {
    min: {
      type: Number,
      default: 1
    },
    max: {
      type: Number,
      default: 20
    }
  },
  data: () => ({
    assistants: null
  }),
  computed: {
    options() {
      if (this.max < this.min) {
        console.error('Assistant Selector was called with invalid props.');
        return [];
      }
      let options = new Array(this.max - this.min + 1);
      let min = this.min;
      for (let i = 0; i < options.length; i++) {
        options[i] = min++;
      }
      return options;
    }
  },
  watch: {
    assistants(assistantsNo) {
      if (!assistantsNo || this.max < assistantsNo) {
        this.$emit('assistant_select', null);
        this.assistants = null;
      } else {
        this.$emit('assistant_select', assistantsNo);
      }
    }
  }
};
</script>

<style scoped>

</style>
