<template>
  <v-btn :color="color" class="cta_btn" @click="buyEvent(event)"><v-icon>shopping_cart</v-icon> Comprar Experiencia</v-btn>
</template>

<script>
import { mapActions } from 'vuex';
import Error404 from '../error/Error404';
import Error400 from '../error/Error400';

export default {
  name: 'BuyExperience',
  props: {
    event: {
      type: Number,
      required: true
    },
    color: {
      type: String,
      default: 'default'
    }
  },
  methods: {
    ...mapActions([
      'displayErrorDialog',
      'displayLoader',
      'hideLoader'
    ]),
    buyEvent: function (eventID) {
      let self = this;
      this.displayLoader('Comprando experiencia...');
      this.$api.buy(eventID).then((response) => {
        response = response.data;
        if (response.status) {
          // We are in local environment, API calls are fast as hell, let's enjoy anim ;-)
          setTimeout(() => {
            self.$router.push({
              name: 'ViewTicket',
              params: {
                ticket_code: response.book_code
              }
            });
            self.hideLoader();
          }, 2500);
        } else {
          // We are in local environment, API calls are fast as hell, let's enjoy anim ;-)
          setTimeout(() => {
            self.hideLoader();
            self.displayErrorDialog(response.error.join(', '));
          }, 2500);
        }
      }).catch((error) => {
        if (error instanceof Error404) {
          setTimeout(() => {
            self.hideLoader();
            self.displayErrorDialog(error.message);
          }, 1500);
        } else if (error instanceof Error400) {
          setTimeout(() => {
            self.hideLoader();
            self.displayErrorDialog(error.message);
          }, 1500);
        } else {
          setTimeout(() => {
            self.hideLoader();
            self.$router.push({
              name: '500',
              params: {
                message: error.message
              }
            });
          }, 1500);
        }
      });
    }
  }
};
</script>
