<template>
  <div class="date_selector">
    <v-dialog v-model="dialog" max-width="700" content-class="custom_dlg">
      <template v-slot:activator="{ on }">
        <v-text-field :value="inputValue" prepend-icon="event" label="Rango de fechas" v-on="on" readonly></v-text-field>
      </template>
      <v-card>
        <v-card-text>
          <v-layout justify-center row wrap>
            <v-flex xs12 sm6 class="force_break">
              <p class="headline">Desde:</p>
              <v-date-picker :min="today" :max="maxFromDate" class="custom_tdp" v-model="start" no-title locale="es-es" reactive first-day-of-week="1"
                             :event-color="highlightClasses"
                             :events="datesToHighlight"></v-date-picker>
            </v-flex>
            <v-flex xs12 sm6 class="force_break">
              <p class="headline">Hasta:</p>
              <v-date-picker :max="maxToDate" :min="minToDate" class="custom_tdp" v-model="end" no-title locale="es-es" :event-color="highlightClasses" reactive
                             first-day-of-week="1"
                             :events="datesToHighlight"></v-date-picker>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="default" flat @click="closeAndCancel()">Cancelar</v-btn>
          <v-btn color="primary" flat @click="closeAndEmmit()" :disabled="!areBothSelected">Seleccionar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import { sprintf } from 'sprintf-js';
import 'moment/locale/es';

export default {
  name: 'DateSelector',
  computed: {
    areBothSelected() {
      return this.start && this.end;
    },
    today() {
      return moment().format('YYYY-MM-DD');
    },
    maxFromDate() {
      return moment().add(30, 'days').format('YYYY-MM-DD');
    },
    minToDate() {
      return this.start || this.today;
    },
    maxToDate() {
      return moment(this.start || this.today).add(30, 'days').format('YYYY-MM-DD');
    },
    inputValue() {
      let startDateStr = '';
      let endDateStr = '';
      if (this.start) {
        const start = moment(this.start);
        if (start.isValid()) {
          startDateStr = start.format('DD-MM-YYYY');
        }
      }
      if (this.end) {
        const end = moment(this.end);
        if (end.isValid()) {
          endDateStr = end.format('DD-MM-YYYY');
        }
      }
      if (startDateStr !== '' && endDateStr !== '') {
        return sprintf('%s - %s', startDateStr, endDateStr);
      }
      return null;
    }
  },
  methods: {
    closeAndCancel() {
      this.start = this.end = null;
      this.$emit('selected_dates', {});
      this.dialog = false;
    },
    closeAndEmmit() {
      if (this.start && this.end) {
        const start = moment(this.start);
        const end = moment(this.end);
        if (start.isValid() && end.isValid()) {
          this.$emit('selected_dates', { start: start.format('YYYY-MM-DD'), end: end.format('YYYY-MM-DD') });
          this.dialog = false;
          return;
        }
      }
      this.start = this.end = null;
      this.$emit('selected_dates', {});
      this.dialog = false;
    },
    highlightDates() {
      if (!this.areBothSelected) {
        return;
      }
      const dates = [];
      const classes = {};
      const start = moment(this.start);
      const end = moment(this.end);
      const diff = end.clone().diff(start, 'days');
      if (diff < 0) {
        if (this.end < this.start) {
          this.end = null;
        } else {
          this.start = null;
        }
        this.datesToHighlight = [];
        this.highlightClasses = {};
        return;
      }

      for (let i = 0; i <= diff; i++) {
        const startDate = start.clone();
        const date = startDate.add(i, 'days').format('YYYY-MM-DD');
        dates.push(date);
        const classesArr = [];
        classesArr.push(`v-date-range__in-range`);
        classesArr.push('accent');
        i === 0 && classesArr.push(`v-date-range__range-start`);
        i === diff && classesArr.push(`v-date-range__range-end`);
        classes[ date ] = classesArr.join(' ');
      }
      this.datesToHighlight = dates;
      this.highlightClasses = classes;
    }
  },
  data: () => ({
    start: null,
    end: null,
    datesToHighlight: [],
    highlightClasses: {},
    dialog: false
  }),
  watch: {
    start: 'highlightDates',
    end: 'highlightDates'
  }
};
</script>

<style lang="scss">
  .prepend_custom {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 24px;
    .v-icon {
      margin-right: 8px;
    }
  }
  .custom_dlg {
    @media (max-width: 680px) {
     .v-card__actions {
       align-items: center;
       justify-content: center;
       .spacer {
         flex-grow: 0 !important;
       }
     }
    }
  }
  .force_break {
   @media (max-width: 680px) {
     width: 100% !important;
     max-width: 100% !important;
     flex-basis: 100% !important;
     text-align: center;
     &:last-child {
       padding-top: 30px;
     }
   }
  }
  .custom_tdp {
    .v-date-picker-table {
      .accent {
        &:before {
          display: none;
        }
      }
      table {
        width: auto;
        margin: auto;
        border-collapse: collapse;
        & th, & td {
          height: 32px;
          width: 32px;
        }
        & td {
          .v-btn {
            &.v-btn--outline {
              border: none;
              box-shadow: 0 0 0 1px currentColor inset;
            }
            &.v-btn--active::before {
              background-color: transparent !important;
            }
          }
        }
        .v-date-picker-table__events {
          height: 100%;
          width: 100%;
          top: 0;
          margin: 0;
          z-index: -1;
          .v-date-range__in-range {
            width: 100%;
            height: 100%;
            border-radius: 0;
          }
          .v-date-range__range-end {
            border-radius: 0 50px 50px 0;
            background-color: #82b1ff !important;
            border-color: #82b1ff !important;
          }
          .v-date-range__range-start {
            border-radius: 50px 0 0 50px;
            background-color: #82b1ff !important;
            border-color: #82b1ff !important;
          }
        }
      }
    }
  }
</style>
