<template>
  <div class="error_dialog">
    <v-dialog v-model="errorDialog.display" persistent max-width="300">
      <v-card>
        <v-card-title class="headline">Error</v-card-title>
        <v-card-text>{{ errorDialog.text }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="default" flat @click="hideErrorDialog()">Aceptar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'ErrorDialog',
  computed: {
    ...mapGetters([
      'errorDialog'
    ])
  },
  methods: {
    ...mapActions([
      'hideErrorDialog'
    ])
  }
};
</script>

<style scoped>

</style>
