<template>
  <div id="event_list_container">
    <v-layout justify-center row wrap>
      <v-flex xs10 class="event" :class="'event_' + event.id" v-for="event in events" :key="event.id">
        <v-card>
          <v-layout row wrap>
            <v-flex xs12 sm6 md4 class="image_container">
              <div class="event_img" @click="goTo(event.id)" :style="{ 'background-image': 'url(' + event.image + ')' }"></div>
            </v-flex>
            <v-flex xs12 sm6 md8>
              <v-card-title primary-title>
                <div class="event_details">
                  <h2 class="event_title" @click="goTo(event.id)">{{ event.name }}</h2>
                  <div class="event_meta">
                    <p class="event_date"><v-icon>event_available</v-icon> {{ parseDate(event.date) }}</p>
                    <p class="max_assistants"><v-icon>group</v-icon> {{ event.max_assistants }}</p>
                    <p class="price"><v-icon>local_activity</v-icon> {{ event.price }} €</p>
                    <p class="popularity">
                      <span class="label">Popularidad</span>
                      <span class="icons">
                        <v-icon v-for="star in event.popularity" :key="`complete-${star}`">star</v-icon>
                        <v-icon v-for="star in (5 - event.popularity)" :key="`incomplete-${star}`">star_border</v-icon>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="event_content">
                  <p v-html="eventExcerpt(event)"></p>
                </div>
              </v-card-title>
            </v-flex>
          </v-layout>
          <v-divider light></v-divider>
          <v-card-actions class="pa-3">
            <v-spacer></v-spacer>
            <buy-btn color="default" :event="event.id"></buy-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import striptags from 'striptags';
import moment from 'moment';
import BuyExperience from './BuyExperience';

export default {
  name: 'EventList',
  props: {
    events: {
      type: Array,
      default: () => {
        return [];
      }
    }
  },
  components: {
    'buy-btn': BuyExperience
  },
  created() {
    moment.locale('es');
  },
  methods: {
    goTo(eventID) {
      this.$router.push({ name: 'event', params: { event: eventID } });
    },
    eventExcerpt(event) {
      return event.excerpt || striptags(event.description).substr(0, 200) + '...';
    },
    parseDate(eventDate) {
      return moment(eventDate, 'YYYY-MM-DD').format('LL');
    }
  }
};
</script>

<style lang="scss">
  #event_list_container {
    padding-top: 30px;
    .event {
      margin-bottom: 30px;
      .image_container {
        height: auto !important;
        cursor: pointer;
        .event_img {
          height: 100%;
          background-position: center center;
          background-size: cover;
          @media (max-width: 600px) {
            min-height: 250px;
          }
        }
      }
      .event_details {
        .event_title {
          cursor: pointer;
        }
        .event_meta {
          padding-top: 8px;
          display: flex;
          flex-direction: row;
          align-content: center;
          flex-wrap: wrap;
          .popularity {
            @media (max-width: 850px) {
              display: flex;
              flex-direction: column;
            }
          }
          p {
            margin-right: 20px;
            line-height: 24px;
            font-size: 12px;
            .v-icon:first-child {
              margin-right: 6px;
            }
            &:last-child {
              margin-right: 0;
              .v-icon {
                margin-right: 0;
                margin-left: 8px;
              }
            }
          }
        }
      }
      .cta_btn {
        .v-icon {
          margin-right: 8px;
        }
      }
    }
  }
</style>
