<template>
  <div id="loader_container">
    <div class="loader_text">
      <p class="big">{{ loader.text }}</p>
    </div>
    <div class="water_container">
      <svg width="100vw" height="100vh" viewBox="0 0 600 350" preserveAspectRatio="none"
           xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <g id="svg_1" transform="rotate(180 318.888 87.0185)">
          <path d="m-2,-52.30547c213.92539,-164.88947 427.85073,164.88946 641.77607,0l0,296.80101c-145.92534,122.88948 -463.85068,-190.88945 -641.77607,0l0,-296.80101z" fill="#161e38" id="svg_4"/>
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
import anime from 'animejs';
import { mapState } from 'vuex';
export default {
  name: 'Loader',
  data: () => ({
    waves: null,
    timeline: null
  }),
  computed: {
    ...mapState([
      'loader'
    ])
  },
  mounted() {
    let self = this;
    if (this.timeline === null) {
      this.timeline = anime.timeline({
        easing: 'easeInSine',
        autoplay: true,
        complete: () => {
          self.waves = anime({
            targets: '.water_container svg path',
            d: 'm-2,-110.30547c213.92539,-164.88947 427.85073,164.88946 641.77607,0l0,296.80101c-139.92534,-24.11052 -264.85068,196.11055 -641.77607,0l0,-296.80101z',
            duration: 2500,
            easing: 'easeInSine',
            loop: true,
            direction: 'alternate'
          });
        }
      });
      this.timeline.add({
        targets: '#loader_container',
        opacity: 1,
        height: '100vh',
        duration: 10
      })
        .add({
          targets: '.water_container svg',
          opacity: 1,
          duration: 300
        });
    }
  },
  beforeDestroy() {
    if (this.waves instanceof anime) {
      this.waves.stop();
    }
    if (this.waves instanceof anime) {
      this.timeline.stop();
    }
    this.waves = this.timeline = null;
  }
};
</script>

<style lang="scss">
  #loader_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background-color: #faf7ec;
    z-index: 3;
    display: flex;
    flex-direction: column;
    opacity: 0;
    .loader_text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .big {
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 18px;
        z-index: 7;
        padding-bottom: 100px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
    .water_container {
      z-index: 6;
      svg {
        display: block;
        opacity: 0;
        path {
          fill: #000000;
        }
      }
    }
  }
</style>
