<template>
  <v-app id="main" theme="none">
    <error-dialog></error-dialog>
    <loader v-if="loader.display"></loader>
    <v-toolbar app dark>
      <a href="/" class="logo" title="Eventify Lite"><img :src="require('./assets/logo.svg')" class="iso" alt="Eventify"> <span>Eventify</span></a>
      <v-spacer></v-spacer>
      <v-btn flat href="https://www.linkedin.com/in/santiagocerrolopez/" target="_blank">
        <span class="mr-2">Santiago Cerro López en LinkedIn</span>
        <v-icon>open_in_new</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container fluid grid-list-md justify-center class="pa-0 ma-0">
        <v-flex xs12 class="pa-0">
          <router-view/>
        </v-flex>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Loader from './components/Loader';
import { mapState } from 'vuex';
import ErrorDialog from './components/ErrorDialog';

export default {
  name: 'App',
  components: {
    'loader': Loader,
    'error-dialog': ErrorDialog
  },
  computed: {
    ...mapState([
      'loader'
    ])
  }
};
</script>
<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Space+Mono:700&display=swap');
  #main.application.theme--light {
    background: #faf7ec;
  }
  .iso {
    width: 40px;
    height: auto;
    margin-right: 8px;
  }
  .logo {
    font-family: 'Space Mono', monospace;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 8px;
    line-height: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    outline: 0;
    &:focus, &:hover, &:active, &:visited {
      outline: 0;
      color: #FFFFFF;
      text-decoration: none;
    }
    @media (max-width: 600px) {
      span {
        display: none;
      }
    }
  }
</style>
