<template>
  <div id="event_page" v-if="eventData">
    <v-layout row wrap class="pa-0">
      <v-flex xs12 class="pa-0 ma-0">
        <div class="event_cover" :style="{ 'background-image': 'url(' + eventData.image + ')' }">
          <div class="event_details_bar">
            <v-layout row wrap>
              <v-flex xs12 sm4 class="break_table">
                <div class="meta_container">
                  <div class="event_main_data">
                    <div class="event_meta">
                      <p class="event_date"><v-icon>event_available</v-icon> {{ eventDate }}</p>
                      <p class="event_price"><v-icon>local_activity</v-icon> {{ eventData.price }} &euro;</p>
                    </div>
                    <div class="event_title">
                      <h1 class="event_title">{{ eventData.name }}</h1>
                    </div>
                  </div>
                </div>
              </v-flex>
              <v-flex xs12 sm4 class="break_table">
                <div class="meta_container">
                  <div class="event_experience">
                    <div class="max_assistants">
                      <p class="label"><v-icon>group</v-icon> Grupos hasta {{ eventData.max_assistants }} personas</p>
                    </div>
                    <div class="popularity">
                      <p class="label">Popularidad</p>
                      <v-icon v-for="star in eventData.popularity" :key="`complete-${star}`">star</v-icon>
                      <v-icon v-for="star in (5 - eventData.popularity)" :key="`incomplete-${star}`">star_border</v-icon>
                    </div>
                  </div>
                </div>
              </v-flex>
              <v-flex xs12 sm4 class="cta_container break_table_cta">
                <buy-btn color="white" :event="eventData.id"></buy-btn>
              </v-flex>
            </v-layout>
          </div>
        </div>
      </v-flex>
    </v-layout>
    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <div class="event_details" v-html="eventData.description"></div>
        </v-flex>
        <v-flex xs12 v-if="relatedEvents.length !== 0" class="related_events_block">
          <hr>
          <h2 class="section_title">Eventos relacionados</h2>
          <event-list :events="relatedEvents"></event-list>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import moment from 'moment';
import Error404 from '../error/Error404';
import BuyExperience from '../components/BuyExperience';
import EventList from '../components/EventList';

export default {
  name: 'Event',
  props: {
    event: {
      type: Number,
      required: true
    }
  },
  watch: {
    event(eventID) {
      if (!isNaN(parseFloat(eventID)) && isFinite(eventID)) {
        this.displayLoader('Cargando información...');
        this.getEventInfo(eventID);
      } else {
        this.$router.push(
          {
            name: '404',
            params: {
              message: 'La URL no es válida. Por favor, compruebe la dirección del evento.'
            }
          }
        );
      }
    }
  },
  components: {
    'buy-btn': BuyExperience,
    'event-list': EventList
  },
  computed: {
    eventDate() {
      return moment(this.eventData.date).format('LL');
    }
  },
  data: () => ({
    eventData: null,
    relatedEvents: []
  }),
  mounted() {
    this.displayLoader('Cargando información...');
    this.getEventInfo(this.event);
    moment.locale('es');
  },
  beforeRouteEnter(to, from, next) {
    if (!isNaN(parseFloat(to.params.event)) && isFinite(to.params.event)) {
      next();
    } else {
      next(
        {
          name: '404',
          params: {
            message: 'La URL no es válida. Por favor, compruebe la dirección del evento.'
          }
        }
      );
    }
  },
  methods: {
    ...mapActions([
      'displayLoader',
      'hideLoader'
    ]),
    getEventInfo(eventID) {
      let self = this;
      return this.$api.event(eventID).then(response => {
        response = response.data;
        if (response.status === true) {
          self.eventData = response.event;
          self.relatedEvents = response.related_events;
          // We are in local environment, API calls are fast as hell, let's enjoy anim ;-)
          setTimeout(() => {
            self.hideLoader();
          }, 2500);
        } else {
          self.$router.push({ name: '404', params: { message: response.message } });
          self.hideLoader();
        }
      }).catch((error) => {
        if (error instanceof Error404) {
          self.$router.push(
            {
              name: '404',
              params: {
                message: error.message
              }
            }
          );
          self.hideLoader();
        }
      });
    }
  }
};
</script>

<style lang="scss">
  .event_cover {
    min-height: 450px;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    .event_details_bar {
      background-color: rgba(0, 0, 0, .8);
      width: 100%;
      height: 100px;
      @media (max-width: 860px) {
        height: auto;
        padding-bottom: 30px;
        padding-top: 30px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      .meta_container {
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 25px;
        @media (max-width: 940px) {
          padding: 0;
        }
        p {
          padding: 0;
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 0;
        }
        .v-icon {
          font-size: 20px;
        }
        .event_main_data {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          @media (max-width: 860px) {
            margin: 0 0 0 40px;
          }
          @media (max-width: 660px) {
            min-width: 50%;
            margin: 0 auto;
          }
          @media (max-width: 500px) {
            min-width: 90%;
            margin: 0 auto;
          }
          .event_meta {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            @media (max-width: 860px) {
              margin: 0;
            }
            p {
              margin-right: 20px;
              margin-bottom: 6px;
            }
          }
        }
        .event_experience {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          @media (max-width: 660px) {
            min-width: 50%;
          }
          @media (max-width: 500px) {
            min-width: 90%;
          }
          .max_assistants {
            margin-bottom: 12px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .v-icon {
              margin-right: 8px;
            }
            p {
              margin-bottom: 0;
            }
          }
        }
        .popularity {
          display: flex;
          flex-direction: row;
          align-items: center;
          p {
            margin-bottom: 0;
            margin-right: 8px;
          }
        }
        .event_title {
          font-size: 18px;
          font-weight: bold;
        }
        .v-icon {
          color: #FFFFFF;
        }
      }
      .break_table_cta {
        @media (max-width: 860px) {
          flex-basis: 100% !important;
          max-width: 100% !important;
        }
      }
      .cta_container {
        display: flex;
        justify-content: center;
        align-items: center;
        .v-btn {
          @media (max-width: 860px) {
            width: 90%;
            margin: 0;
            align-items: flex-start;
          }
          @media (max-width: 660px) {
            width: 50%;
            margin: 0;
            align-items: flex-start;
          }
          @media (max-width: 500px) {
            width: 90%;
            margin: 0;
            align-items: flex-start;
          }
        }
      }
      .break_table {
        @media (max-width: 860px) {
          flex-basis: 50% !important;
          max-width: 50% !important;
          padding-bottom: 18px !important;
        }
        @media (max-width: 660px) {
          flex-basis: 100% !important;
          max-width: 100% !important;
        }
      }
    }
  }
  .event_details {
    padding-top: 40px;
  }
  .related_events_block {
    margin-top: 50px;
    hr {
      margin-bottom: 30px;
    }
    h2.section_title {
      text-align: center;
    }
  }
</style>
