<template>
  <v-container>
    <v-layout justify-center row wrap class="date_layout">
      <v-flex xs12 text-align-center>
        <h1 class="main_headline">Encuentra tu próxima experiencia</h1>
      </v-flex>
      <v-flex xs10>
        <v-card>
          <v-card-text class="card_content">
            <div id="dates_container">
              <date-selector @selected_dates="processDates"></date-selector>
            </div>
            <div id="assistant_container">
              <assistant-selector @assistant_select="processAssistants"></assistant-selector>
            </div>
            <div id="btn_search_container">
              <v-btn color="primary" :disabled="!isSearchEnabled" @click="doSearch">
                Buscar Eventos
                <v-icon right dark>search</v-icon>
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs10 v-if="isASearchMade" class="no_results_message">
        <v-alert :value="isASearchMade" type="error">
          No se han encontrado eventos que cumplan sus parámetros.
        </v-alert>
      </v-flex>
      <event-list :events="searchResultEvents"></event-list>
    </v-layout>
  </v-container>
</template>

<script>
import DateSelector from '../components/DateSelector';
import AssistantSelector from '../components/AssistantSelector';
import EventList from '../components/EventList';
import { mapActions } from 'vuex';
import Error400 from '../error/Error400';
import Error500 from '../error/Error500';

export default {
  components: {
    'date-selector': DateSelector,
    'assistant-selector': AssistantSelector,
    'event-list': EventList
  },
  data: () => ({
    dates: {},
    assistants: null,
    searchResults: [],
    noResults: false
  }),
  computed: {
    isSearchEnabled() {
      return this.dates instanceof Object && this.dates.hasOwnProperty('start') && this.dates.hasOwnProperty('end') && this.assistants !== null;
    },
    isASearchMade() {
      return this.noResults;
    },
    searchResultEvents() {
      return this.searchResults;
    }
  },
  methods: {
    ...mapActions([
      'displayLoader',
      'hideLoader',
      'displayErrorDialog'
    ]),
    processDates(dateObj) {
      this.dates = dateObj;
    },
    processAssistants(assistants) {
      this.assistants = assistants;
    },
    doSearch() {
      let self = this;
      this.displayLoader('Buscando eventos...');
      this.noResults = false;
      this.$api.search(this.dates.start, this.dates.end, this.assistants).then(response => {
        response = response.data;
        if (response.status === true) {
          self.searchResults = response.events;
          if (self.searchResults.length === 0) {
            self.noResults = true;
          }
        } else {
          self.displayErrorDialog(response.error.join(', '));
        }
        // We are in local environment, API calls are fast as hell, let's enjoy anim ;-)
        setTimeout(() => {
          self.hideLoader();
        }, 3500);
      }).catch(error => {
        if (error instanceof Error400) {
          self.displayErrorDialog(error.message);
        } else if (error instanceof Error500) {
          self.$router.push({
            name: '500',
            params: {
              message: error.message
            }
          });
        }
        self.hideLoader();
      });
    }
  }
};
</script>
<style lang="scss">
  .date_layout {
    padding-top: 30px;
    .main_headline {
      text-transform: uppercase;
      letter-spacing: 6px;
      text-align: center;
      padding-bottom: 50px;
    }
  }
  #btn_search_container {
    text-align: right;
    padding-top: 30px;
  }
  .card_content {
    padding: 50px;
  }
  .no_results_message {
    margin-top: 30px;
    .v-alert {
      div {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: .8px;
      }
    }
  }
</style>
