<template>
  <div class="content_500">
    <h1>Error 500</h1>
    <h2>{{ message }}</h2>
    <v-btn class="go_home_btn" color="primary" @click="goHome()"><v-icon>home</v-icon> Ir a la página principal</v-btn>
  </div>
</template>

<script>
export default {
  name: 'Page404',
  props: {
    message: {
      type: String,
      default: 'Servicio no disponible'
    }
  },
  methods: {
    goHome() {
      this.$router.push({ name: 'home' });
    }
  }
};
</script>

<style lang="scss">
  .container {
    height: 100%;
    .flex {
      height: 100%;
    }
  }
  .content_500 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    h1 {
      font-size: 60px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 8px;
    }
    h2 {
      font-size: 40px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 8px;
    }
    .go_home_btn {
      margin-top: 30px;
      .v-icon {
        margin-right: 12px;
      }
    }
  }
</style>
