<template>
  <div class="content_ticket">
    <h1>Gracias por su compra</h1>
    <h2>El código de su compra es: <span>{{ ticket_code }}</span></h2>
    <v-btn class="go_back_btn" color="primary" @click="goBack()"><v-icon>arrow_back</v-icon> Volver atrás</v-btn>
  </div>
</template>

<script>
export default {
  name: 'ViewTicket',
  props: {
    ticket_code: {
      type: String,
      required: true
    }
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    }
  }
};
</script>

<style lang="scss">
  .container {
    height: 100%;
    .flex {
      height: 100%;
    }
  }
  .content_ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    h1 {
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 8px;
    }
    h2 {
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 8px;
      padding: 50px;
      word-break: break-word;
      span {
        font-size: 16px;
        letter-spacing: 1px;
        background-color: #e0e0e0;
      }
    }
    .go_back_btn {
      margin-top: 30px;
      .v-icon {
        margin-right: 12px;
      }
    }
  }
</style>
